/*Sustentabilidade e Consciência Ambiental
● Paleta de Cores:
○ Verde Escuro (#2e7d32) – Representa a natureza e sustentabilidade.
○ Verde Claro (#81c784) – Para elementos interativos.
○ Marrom (#795548) – Para dar um tom orgânico e natural.
○ Branco (#ffffff) – Para melhor leitura e contraste.
*/
  body {
    
    font-family: Arial, sans-serif;
    background-image: url("../image/cara_com_lixo.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position-x: -276px;

  }
  
  .container {
    margin-top: 50px;
  }
  .container h2{
    font-size: 25px;
    margin: 10px auto;
    padding: 20px;
    color: #795548;
  }
  
  .row {
    display: flex;
    justify-content: center; /* Alinhamento centralizado */
  }
  
  .col-12, .col-md-8, .col-lg-4 {
    padding: 20px;
    background-color: #f4f4f4; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #2e7d32; 
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-label {
    font-weight: bold;
    color: #795548;
  }
  
  .form-control {
    border: 1px solid #81c784; 
  }
  
  .form-control:focus {
    border-color: #2e7d32; 
    box-shadow: 0 0 5px rgba(46, 125, 50, 0.5);
  }
  
  .btn-primary {
    background-color: #81c784; 
    border-color: #81c784;
  }
  
  .btn-primary:hover {
    background-color: #66bb6a; 
    border-color: #66bb6a;
  }
  
  .form-check-label {
    font-size: 14px;
    color: #795548;
  }
  #loginForm .btn{
    background-color: #795548;

    text-align: center;
    border: none;
    margin: auto;
    text-align: center;
    display: block;
  }
  #loginForm .btn:hover{
    background-color:  #795548b0;
  }
  
  #error {
    background-color: rgba(168, 47, 47, 0.726);
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  #sucess-message , #sucess{
    background-color: #81c784;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin: auto;

  }
  #check a{
    font-family: sans-serif;
    text-decoration: none;
    color: #795548;
    text-align: center;
    display: block;
    margin-top: 0px;
    
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .col-12 {
      padding: 10px;
    }
  
    h2 {
      font-size: 3.5rem;
    }
  
    .form-control {
      font-size: 1rem;
    }
  
    .btn-primary {
      width: 100%; /* Botão vai ocupar toda a largura */
    }
    .container h2{
      font-size: 15px;
    }
  }
  @media (min-width: 400px) {
    .col-12 {
      padding: 10px;
    }
  
    h2 {
      font-size: 0.3rem;
    }
  
   
  }


